<footer class="footer footer-center p-6 bg-base-200 rounded">
<!---
  <nav class="flex flex-wrap justify-center">
    <%= link_to "お問い合わせ", '#', class: "btn btn-ghost btn-sm" %>
    <%= link_to "利用規約", '#', class: "btn btn-ghost btn-sm" %>
    <%= link_to "プライバシーポリシー", '#', class: "btn btn-ghost btn-sm" %>
  </nav>
-->
  <aside>
    <p class="font-lato">© 2024 - Kyushu Travel Map</p>
  </aside>
</footer>
