<p>こんにちは <%= @resource.name %>さん!</p>
<br>
<p>Kyushu Travelをご利用いただきありがとうございます!</p>
<p>パスワードを変更するためのリンクがリクエストされました。以下のリンクから変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_user_password(@resource, reset_password_token: @token) %></p>

<p>もしこのメールをリクエストしていないのであれば、無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
